body{
  background-color:#c8d6e5;
  color:#341f97;
  font-family:monospace;
  font-size:20px;
}
<!--I watched a video by Mike Dane https://youtu.be/2P_LUPc2HrM to understand how .css files work and I referenced that video to create this .css file-->
